ul li{
	display: inline-block;
	position: relative;
	margin-right:5px;
}

img{
	border-radius:50%;
	max-width: 100px;
	height: auto;
	margin-left:10px;
}

.error{
	color:red;
}

body{
	background-color: black;
	color: white;
}